body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 10% 5%;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 4em;
    font-weight: bolder;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.3em;
}

h5 {
    font-family: "Montserrat";
    font-weight: 100;
}

p {
    color: #8f8f8f;
}

/* NAVIGATION BAR */

.navbar {
    padding-bottom: 4.5em;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5em;
    font-weight: bold;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2em;
}

/* DOWNLOAD BUTTONS */

.download-button {
    margin: 5% 3% 5% 0;
}

/* TITLE IMAGE */

.title-image {
    position: absolute;
    transform: rotate(25deg);
    width: 60%;
}

/* FEATURES */

#features {
    background-color: white;
    padding: 7% 15%;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 0.5em;
}

.icon:hover {
    color: #ff4c68;
}

/* TESTIMONIALS SECTION */

#testimonials {
    padding: 7% 10%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.test-image {
    width: 10%;
    border-radius: 100%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICING SECTION  */

#pricing {
    padding: 7% 10%;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* CALL TO ACTION */
#cta {
    background-color: #ff4c68;
    color: white;
    padding: 7% 10%;
    text-align: center;
}

.cta-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    line-height: 1.5;
}

/* FOOTER SECTION */

#footer {
    padding: 7% 10%;
    text-align: center;
}

.footer-h5 {
    padding: 2%;
    color: #8f8f8f;
}

.smedia1, .smedia2, .smedia3 {
    margin-left: 20px;
}

.smedia1:hover {
    color: #0674B3;
}

.smedia2:hover {
    color: black;
}

.smedia3:hover {
    color: #1C7DF3
}

@media (max-width:1024px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}